$card-border-radius: 7px;

.card {
  width: 325px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 3rem 1rem;

}

img {
  width: 4rem;
  margin-bottom: $space;
}

.card-orange {
  background-color: $bright-orange;
}

.card-dark {
  background-color: $dark-cyan;
}

.card-very-dark {
  background-color: $very-dark-cyan;
}


.card:first-of-type {
  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
}

.card:last-of-type {
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}

@media screen and (min-width: $desktop) {
  .card {
    width: 300px;
    min-height: 500px;
  }

  .card:first-of-type {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: 0;
    border-bottom-left-radius: $card-border-radius;
  }

  .card:last-of-type {
    border-top-right-radius: $card-border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: $card-border-radius;
  }
}
