* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  background-color: $neutral-accent;
  font-size: 15px;
  min-width: 375px;
  max-width: 1440px;

}

/* Typography */

body {
  font-family: $font1;
  color: $neutral;
}


h1 {
  font-family: $font2;
  font-size: 2.5rem;
  color: $neutral-accent;
  text-transform: uppercase;
  margin-bottom: $space;
}

p {
  max-width: 25ch;

}

@media screen and (min-width: $desktop) {
  p {
    max-width: 23ch;

  }

}
