body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 5rem auto;
}

@media screen and (min-width: $desktop) {
  main {
    display: flex;

  }
}

footer {
  margin-top: auto;
}
