body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

main {
  margin: 5rem auto;
}

@media screen and (min-width: $desktop) {
  main {
    display: flex;

  }
}

footer {
  margin-top: auto;
}
