@charset "UTF-8";

// Fonts

$font1: 'Kumbh Sans', sans-serif;

// Colors

// Colors-Primary
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);



// Colors-Neutral
$neutral: hsl(0, 0%, 59%);
$neutral-light: hsla(0, 0%, 59%, 0.2);

// Sizes

$desktop: 900px;
$card-mobile-width: 325px;
$card-desktop-width: 350px;
